{% extends "layout.njk" %}

{% block content %}
<section class="product-single container">

    <div class="gallery">
        <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO" />
    </div>

    <div class="info">
        <h1>Computador</h1>

        <div class="published">
            Publicado em 18/12 às 21h
        </div>

        <div class="description">
                asdfasfasdfaefasdfadf a sdfasfa fafasf a
        </div>

        <div class="price-buy">
            <div class="price">
                R$ 99,00
                <span class="old">R$ 89,00</span>
            </div>
            
            <div class="buy">
                <button class="button">Comprar</button>
            </div>
        </div>
    
    </div>

</section>
{% endblock content %}
